body {
  margin: 0;
  padding: 0;
}

$background-color: #eee;
$height-width: 100px;
$border: 1px solid black;
$margin-right: 1px;
$day-size: 100px;
$columns: 7;
$gap: 1px;
$padding: 10px;
$calendar-width: $columns * $day-size + ($columns - 1) * $gap + 2 * $padding;

$days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);

.calendar__day-#{$days} {
  .calendar__day::before {
    content: "#{$days}";

  }
}



.calendar {
  display: flex;
  flex-wrap: wrap;
  width: $calendar-width;
  padding: $padding;
  justify-content: center;
  align-items: center;
}

.calendar__day {
  background-color: $background-color;
  height: $height-width;
  width: $height-width;
  border: $border;
  margin-right: $margin-right;
  margin-bottom: 1px;
}
