body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

$background-color: #eee;
$height-width: 100px;
$border: 1px solid black;
$margin-right: 1px;
$day-size: 100px;
$columns: 7;
$gap: 1px;
$padding: 10px;
$start-days: (mon, tue, wed, thu, fri, sat, sun);

@each $day, $index in $start-days {
  .calendar--start-day-#{$day} .calendar__day:first-child {
    margin-left: calc((#{$index}) * ($day-size + $gap));
  }
}

$calendar-width: $columns * $day-size + ($columns - 1) * $gap + 2 * $padding;


.calendar {
  display: flex;
  flex-wrap: wrap;
  width: $calendar-width;
  padding: $padding;
  justify-content: center;
  align-items: center;
}



@for $i from 1 through 29 {
  .calendar__day:nth-child(#{$i})::before {
    content: "#{$i}";
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

.calendar__day {
  background-color: $background-color;
  height: $height-width;
  width: $height-width;
  border: $border;
  margin-right: $margin-right;
  margin-bottom: 1px;
}


.calendar__day:hover {
  cursor: pointer;
  background-color: #FFBFCB;
  transform:translateY(-20px);
  animation-iteration-count: 0.5s;
}
